Flask==0.12
Flask-Testing==0.6.2
itsdangerous==0.24
MarkupSafe==0.23
packaging==16.8
passlib==1.7.1
pyparsing==2.1.10
python-magic==0.4.12
PyYAML==3.12
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
progressbar2==3.12.0
