<!doctype html>

<html lang="en">
    <head>
	<meta charset="utf-8">

	
	<title>{% block title %}FastText Model Database{% endblock %}</title>
	<meta name="description" content="FastText Model Database">
	<meta name="author" content="FastText DB">

	<link rel="stylesheet" href="{{ url_for('bootstrap', file='css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="/static/css/fasttextdb.css"/>
	
	<!--[if lt IE 9]>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
    </head>

    <body>
	<div class="container" >
	    <div class="row">
		<div class="col-md-12 login-status" >
		    {% if current_user and current_user.is_authenticated %}
		    You are logged in as {{ current_user.name }} (<a href="/logout">logout</a>)
		    {% else %}
		    You are not logged in
		    {% endif %}
		</div>
	    </div>
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
